<%= link_to "Add New Quote", new_quote_path %>
<br/><br/>
<%= paginate @quotes %>
<% for quote in @quotes do %>
  <h5><%= quote.created_at.strftime("%d %B %Y") %></h5>
  <p><%= quote.text %></p>
<% end %>
<br/>
<%= paginate @quotes %>
